body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(252, 251, 251);
}
header {

    padding: 10px 0;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 8px;
    box-shadow: 0 -4px 4px -2px rgba(0, 0, 0, 0.4), /* top shadow */
                4px 0 4px -2px rgba(0, 0, 0, 0.4),   /* right shadow */
                -4px 0 4px -2px rgba(0, 0, 0, 0.4); 
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    
}
nav li {
    display: inline-block;
    margin: 0 10px;
    font-family:serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 3px;
}
.sty{
    border-radius: 50%;
    border: 1px solid black;
    padding: 3.5px;
}
/* section */
.top-container{
    background-image: linear-gradient(to right,#f660a6,#f7df74);
    height: 120vh;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 6px;
}
.top-text{
    position: absolute;
    top: 200px;
    left: 10%;
    background-color: rgba(237, 123, 113, 0.7);
    color: white;
    width: 40%;
    padding: 20px;
    
}
.top-text h1{
    letter-spacing: 2px;
    line-height: 40px;
    font-size: 40px;
    padding-right: 14px;
}
.top-text p{
    word-spacing: 3px;
    line-height: 20px;
}
/* footer */
.bottom-part{
    background-image: linear-gradient(to right,#f660a6,#f7df74);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding-bottom: 30px;
}
.bottom-part h1{
    color: white;
    margin-bottom: 40px;
    margin-top: 28px;
    text-align: center;
    letter-spacing: 3px;
    line-height: 40px;
    font-size: 40px;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card{
    background-color: white;
    border: 1px solid transparent;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 15px;
    width: 230px;
    font-family:serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.card h3{
    margin-bottom: 0;
}
.img-style{
    border-top-right-radius: 50px;
    
}
button{
    display: block;
    padding: 12px 28px;
    border: 1px solid transparent;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 50px;
    margin: 0 auto; 
    margin-top: 50px;

}
@media only screen and (max-width:768px){
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border: 1px solid black;

    }
    .top-container {
        height: auto; 
    }
    nav ul li:hover{
        color: #f660a6;
        cursor: pointer;
    }
    .nav-icons{
        display: flex;
        justify-content: start;
        gap: 10px;
        margin-left: 7px;
        margin-top: 6px;
        margin-bottom: 6px;
    }
}
@media only screen and (max-width: 1024px) {
    .top-container {
        height: auto; 
    }
}
@media only screen and (max-width: 1440px) {
    .top-container {
        height: auto; 
    }
}